.filter__range {
  width: 100%;
  height: 3px;
  margin-top: 2vmin;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #a2abb3;
  outline: none;
  border-radius: 0.25rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.filter__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #313940;
  border: 3px solid #a2abb3;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
