.content__label {
  position: absolute;
  top: 1.5rem;
  opacity: 1;
  /* margin-top: 8px; */
  font-size: 1.5rem;
  font-weight: 900;
  /* line-height: 1.5; */
  color: #fff;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
