.popup__close {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  padding: 0;
  right: -3vw;
  top: -3vw;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  border: 0;
  background: url('../../../images/plus.svg'), center, no-repeat, transparent !important;
  background-size: cover !important;
}

.popup__close:hover {
  opacity: 0.6;
}
