.card__like {
  width: 21px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: url('../../../images/like.svg'), center, no-repeat, #fff !important;
}

.card__like:hover {
  opacity: 0.6;
}
