.content__add-button {
  width: 21vmax;
  margin-top: 2vmax;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 2px 2px 1px black;
  background: linear-gradient(to left, orange , yellow, green, cyan, blue, violet);
}