@import url('./__logo/header__logo.css');

.header {
  width: 100%;
  height: 5vh;
  margin: auto;
  padding: 1.5vmax;
  background: linear-gradient(to left, orange , yellow, green, cyan, blue, violet);
}
